@import "base/__base";
@import "components/__components";
@import "pages/__pages";
@import "utilities/__utilities";


//Global Styles

body {
  font-family: $fontFamily-sans;
  background: #FBFCF5;
  padding: 0;
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 2em 0;
}